.env
.venv/
__pycache__/
*.pyc

data/**
!data/
!data/**/
!data/**/.gitkeep

models/*
!models/.gitkeep

baselines/**
!baselines/
!baselines/**/
!baselines/**/.gitkeep

reports/*
!reports/.gitkeep
!reports/*.md
!reports/figures/
!reports/figures/.gitkeep

results/**
!results/
!results/**/
!results/**/.gitkeep

logs/**
!logs/
!logs/**/
!logs/**/.gitkeep

.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
